.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    height:20px;
}

.header-utilities nav {
    width: 18%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}

.exhibition {
    text-decoration: none;
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 6px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-exhibit {
    background-color: #fff;
    border: 1px solid #000;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}